*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
.flex{display: flex;}
.grid{display: grid;}

#root{position: relative; width: 100%; height: 100vh;}
#root .player_box{position: absolute; left: 0; top: 0; padding: 20px;}
#root .game-over{position: absolute; background: #fff; width: 500px; height: 300px; left: 50%; top: 20px; padding: 30px; flex-direction: column; gap: 25px; transform: translateX(-50%); justify-content: center; align-items: center;}
#root .game-over h3{font-size: 70px; color: red;}
#root .game-over button{padding: 10px 20px; cursor: pointer; font-size: 18px;}
#root .player_box h2{font-size: 35px;}
#root .canvas{width: 100%; height: auto;}


#root .player_box .first{color: red;}
#root .player_box .second{color: blue;}





